@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2")  format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background-color: #FFFFFF;
  text-align: center;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.site-container {
  margin: 0 auto;
  width: 1200px;
}

.button {
  font-family: inherit;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  color: #FFFFFF;
  background-color: #756157;
  text-decoration: none;
  text-transform: uppercase;
}

.page-header {
  color: #000000;
  background-color: #FFFFFF;
}

.navigation {
  display: flex;
  justify-content: space-between;
  padding: 0 70px;
  width: 1060px;
  margin: 0 auto;
  text-align: center;
}

.navigation-logo {
  width: 138px;
  margin-right: 30px;
}

.navigation-list {
  width: 268px;
  margin-left: auto;
}

.navigation-list-user-menu {
  width: 350px;
  margin: 0 auto;
}

.navigation-link {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-align: left;
  text-decoration: none;
  color: #000000;
  background-color: #FFFFFF;
}

.main-container {
  flex-grow: 1;
}

.welcome{
  color: #000000;
  background-color: #FFFFFF;
  background-image: url("../images/welcome/welcome-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.introduction-text {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.font-gray {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  color: #333333;
}

.advantages {
  display: flex;
  padding: 0;
  margin: 0;
  text-align: center;
  flex-wrap: wrap;
}

.font-dark p{
  color: #333333;
}

.advantages-item {
  width: 400px;
  padding: 0;
  margin: 0;
}

.advantages-title {
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.image {
  display: block;
  margin: 0 auto;
}

.search-title {
  font-size: 30px;
  line-height: 28px;
  text-transform: uppercase;
  text-align: center;
}

.newsletter{
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  color: #FFFFFF;
  background-color: #82B3D3;
  background-image: url("../images/footer/footer-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.newsletter-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.field{
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
}

.button-newsletter-subscribe {
  font-family: inherit;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  color: #FFFFFF;
  background-color: #82B3D3;
  text-decoration: none;
  text-transform: uppercase;
}

.contacts-phone {
  font-size: 40px;
  line-height: 40px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000000;
}

.hotels-selection-menu {
  color: #FFFFFF;
  background-color: #82B3D3;
  background-image: url("../images/catalog-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  padding: 0 110px;
}

.catalog-filter-menu {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.catalog-filter-group-infrastructure {
  width: 150px;
  text-align: left;
  margin: 0;
  padding: 0;
}

.catalog-filter-group-accomodation-type {
  width: 150px;
  text-align: left;
  margin: 0;
  padding: 0;
}

.button-use-filters {
  width: 191px;
  text-align: center;
  margin: 0;
  padding: 0;
}

.button-reset-filters {
  width: 191px;
  text-align: center;
  margin: 0;
  padding: 0;
}

.hotel-filter-sort {
  display: flex;
  justify-content: space-between;
  padding: 0 110px;
  width: 980px;
  margin: 0 auto;
  text-align: center;
}

.inner-header-title {
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
  color: #FFFFFF;
  text-align: left
}

.breadcrumbs {
  color: #FFFFFF;
  text-align: left
}

.catalog-filter-title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: #FFFFFF;
  text-align: left
}

.button-use-filters {
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  color: #FFFFFF;
  background-color: #82B3D3;
  text-decoration: none;
  text-transform: uppercase;
}

.button-reset-filters {
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  color: #FFFFFF;
  background-color: transparent;
  text-decoration: none;
  text-transform: uppercase;
}

.catalog-results {
  display: flex;
  justify-content: space-between;
  padding: 0 70px;
  width: 1060px;
  margin: 0 auto;
  text-align: center;
}

.product-card {
  background-color: #ffffff;
}

.product-card-link {
  text-decoration: none;
}

.product-card-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-align: left;
  color: #000000;
}

.accomodation-type {
  color: #333333;
  text-align: left;
}

.product-card-price {
  color: #333333;
  text-align: right;
}

.product-details-button {
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  color: #FFFFFF;
  background-color: #756157;
  text-decoration: none;
  text-transform: uppercase;
}

.product-add-to-favourites-button {
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  color: #FFFFFF;
  background-color: #82B3D3;
  text-decoration: none;
  text-transform: uppercase;
}

.product-favourite-button {
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  color: #FFFFFF;
  background-color: #7DB54F;
  text-decoration: none;
  text-transform: uppercase;
}

.number-of-stars {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #000000;
}

.rating {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #333333;
  text-transform: uppercase;
}

.pagination {
  background-color: #ffffff;
}

.pagination-link {
  color: #ffffff;
  background-color: #82B3D3;
  text-decoration: none;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
}

.pagination-current {
  color: #000000;
  background-color: #F2F2F2;
}

.other-pages {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  color: #000000;
}

.newsletter-footer{
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  color: #000000;
}

.field-catalog-footer {
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  background-color: #F2F2F2;
}

.page-footer-container {
  display: flex;
  justify-content: space-between;
  padding: 0 70px;
  width: 1060px;
  margin: 0 auto;
}

.footer-social {
  max-width: 200px;
  margin: 0;
  padding: 0;
}

.footer-contacts {
  width: 720px;
  margin: 0;
  padding: 0;
}

.footer-design {
  max-width: 130px;
  margin: 0;
  padding: 0;
}
