@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2")  format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background-color: #FFFFFF;
  text-align: center;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}


.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.site-container {
  margin: 0 auto;
  width: 1200px;
}

.button {
  font-family: inherit;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  color: #FFFFFF;
  background-color: #756157;
  text-decoration: none;
  text-transform: uppercase;
}

.page-header {
  color: #000000;
  background-color: #FFFFFF;
}

.navigation {
  display: flex;
  width: 1200px;
  margin: 0 auto;
}

.navigation-logo {
  display: flex;
  width: 138px;
  margin-right: 28px;
  margin-left: 70px;
  align-items: center;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  width: 453px;
  margin: 0;
  padding: 0;
  list-style-type: none;
  outline: auto;
}

.user-menu {
  max-width: 320px;
  margin-right: 70px;
  margin-left: auto;
  outline: auto;
}

.navigation-link {
  display: block;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  padding: 20px 16px;
  text-align: left;
  text-decoration: none;
  color: #000000;
  background-color: #FFFFFF;
  outline: auto;
}

.user-menu .navigation-link {
  min-width: 44px;
  min-height: 64px;
  outline: auto;
  margin: 0;
  padding: 0;
}
.main-container {
  flex-grow: 1;
}

.welcome{
  color: #000000;
  background-color: #FFFFFF;
  background-image: url("../images/welcome/welcome-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  width: 1200px;
  height: 485px;
}

.welcome-image {
  padding-top: 51px;
  padding-bottom: 82px;
}

.introduction {
  height: 282px;
}

.introduction-text {
  margin-top: 69px;
  margin-bottom: 25px;
  outline: auto;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.introduction p {
  margin: 0;
  padding: 0;
}

.font-gray {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  color: #333333;
}

.advantages-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.more-advantages {
  display: flex;
  list-style-type: none;
  justify-content: center;
  margin: 0;
  padding: 0;
  outline: auto;
}

.more-advantages h3 {
  margin-top: 182px;
}

.more-advantages p {
margin: 30px 85px 81px 85px ;
width: 230px;
}


.font-dark p{
  color: #333333;
}

.advantages-item {
  padding: 0;
  margin: 0;
  outline: auto;
  align-items: stretch;
}

.more-advantages-item {
  width: 400px;
  padding: 0;
  margin: 0;
  outline: auto;
}

.advantages-title {
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.image {
  display: block;
  margin: 0 auto;
}

.search {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  height: 406px;
  justify-content: center;
}

.search-group {
  width: 592px;
  height: 214px;
  margin: 96px 304px;
}

.search-title {
  font-size: 30px;
  line-height: 28px;
  text-transform: uppercase;
  height: 30px;
  margin-bottom: 20px;
  padding: 0;
}

.search-text {
  width: 592px;
  height: 62px;
  margin-bottom: 54px;
  padding: 0;
}

.button-hotel-search {
  width: 376px;
  height: 52px;
  margin: 0;
  padding: 0;
  text-align: center;
}

.newsletter{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 415px;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  color: #FFFFFF;
  background-color: #82B3D3;
  background-image: url("../images/footer/footer-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.newsletter-group {
  margin: 96px 258px 104px 258px;
}

.newsletter-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding: 0;
}

.field{
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
}

.button-newsletter-subscribe {
  font-family: inherit;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  color: #FFFFFF;
  background-color: #82B3D3;
  text-decoration: none;
  text-transform: uppercase;
}

.page-footer-container {
  outline: auto;
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 45px;
  margin-bottom: 35px;
  padding: 0;
  list-style-type: none;
  outline: auto;
}

.footer-social-item {
  width: 47px;
  height: 40px;
  margin: 0;
  padding: 0;
  outline: auto;
}

.footer-design {
  margin: 0;
  padding: 0;
  outline: auto;
}

.contacts-phone {
  font-size: 40px;
  line-height: 40px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000000;
}

.hotels-selection-menu {
  color: #FFFFFF;
  background-color: #82B3D3;
  background-image: url("../images/catalog-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  padding: 0 110px;
}

.catalog-filter-menu {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.catalog-filter-group-infrastructure {
  width: 150px;
  text-align: left;
  margin: 0;
  padding: 0;
}

.catalog-filter-group-accomodation-type {
  width: 150px;
  text-align: left;
  margin: 0;
  padding: 0;
}

.button-use-filters {
  width: 191px;
  text-align: center;
  margin: 0;
  padding: 0;
}

.button-reset-filters {
  width: 191px;
  text-align: center;
  margin: 0;
  padding: 0;
}

.hotel-filter-sort {
  display: flex;
  justify-content: space-between;
  padding: 0 110px;
  width: 980px;
  margin: 0 auto;
  text-align: center;
}

.inner-header-title {
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
  color: #FFFFFF;
  text-align: left
}

.breadcrumbs {
  color: #FFFFFF;
  text-align: left
}

.catalog-filter-title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: #FFFFFF;
  text-align: left
}

.button-use-filters {
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  color: #FFFFFF;
  background-color: #82B3D3;
  text-decoration: none;
  text-transform: uppercase;
}

.button-reset-filters {
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  color: #FFFFFF;
  background-color: transparent;
  text-decoration: none;
  text-transform: uppercase;
}

.catalog-results {
  display: flex;
  justify-content: space-between;
  padding: 0 70px;
  width: 1060px;
  margin: 0 auto;
  text-align: center;
}

.product-card {
  background-color: #ffffff;
  margin: 0;
  padding: 0;
}

.product-card-link {
  text-decoration: none;
}

.product-card-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-align: left;
  color: #000000;
}

.accomodation-type {
  color: #333333;
  text-align: left;
}

.product-card-price {
  color: #333333;
  text-align: right;
}

.product-details-button {
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  color: #FFFFFF;
  background-color: #756157;
  text-decoration: none;
  text-transform: uppercase;
}

.product-add-to-favourites-button {
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  color: #FFFFFF;
  background-color: #82B3D3;
  text-decoration: none;
  text-transform: uppercase;
}

.product-favourite-button {
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  color: #FFFFFF;
  background-color: #7DB54F;
  text-decoration: none;
  text-transform: uppercase;
}

.number-of-stars {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #000000;
}

.rating {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #333333;
  text-transform: uppercase;
}

.pagination {
  background-color: #ffffff;
}

.pagination-link {
  color: #ffffff;
  background-color: #82B3D3;
  text-decoration: none;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
}

.pagination-current {
  color: #000000;
  background-color: #F2F2F2;
}

.other-pages {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  color: #000000;
}

.newsletter-footer{
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  color: #000000;
}

.field-catalog-footer {
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  background-color: #F2F2F2;
}

.page-footer-container {
  display: flex;
  justify-content: space-between;
  padding: 0 70px;
  width: 1060px;
  margin: 0 auto;
}

.footer-social {
  max-width: 200px;
  margin: 0;
  padding: 0;
}

.footer-contacts {
  width: 720px;
  margin: 0;
  padding: 0;
}

.footer-design {
  max-width: 130px;
  margin: 0;
  padding: 0;
}
